<Layouts.app flash={@flash} current_scope={@current_scope} show_sidebar={true} ledger={@ledger}>
  <.header>
    {@ledger.name} - Configurações do Perfil
  </.header>

  <.live_component
    module={PersonalFinanceWeb.ProfileLive.RecurringEntries}
    id="recurring-entries-component"
    current_scope={@current_scope}
    ledger={@ledger}
    profile={@profile}
    parent_pid={self()}
  />
</Layouts.app>
