<Layouts.app flash={@flash} current_scope={@current_scope} show_sidebar={true} budget={@budget}>
  <.header class="flex flex-row justify-between mb-5 items-center">
    {@budget.name} - Configurações do Perfil
  </.header>
</Layouts.app>
